body{
  max-width: 960px;
}

.column-1{
  display:inline-block;
  width: 48%;
}

.column-2{
  display:inline-block;
  width:48%;
  vertical-align:top;
}

code {
  background: #9b9da0;
}

details{
  background: #bbbec1;
}
details p{
	margin:0;
}
header{
	background-image: url("bluetile.jpg");
	background-size:80px 20px;
	color:orange;
}
footer{
	border-top:2px solid black;
	background: grey;
	margin-top:20px;
}
code:hover{
	background-color:white;
}