<!DOCTYPE html>
<html>
<head>
	<title>search</title>
</head>
<body>
<h1>SEARCH STUDENTS</h1>



<p>
	<% @students.each do |student| %>
		<% if student["campus"] == params[:campus] %>
			<%= student %>	
		<% end %>
	<% end %>
</p>
</body>
</html>